{% extends 'blank.html' %}
{% load static %}


{% block main %}
<main class="flex items-center justify-center min-h-screen min-w-screen">
    <div class="h-48">
        <img class="h-48" src="{% static 'images/lock.png' %}" alt="">
    </div>
    <div class="space-y-3">
        <h1 class="text-lg font-semibold">Access Denied</h1>
        <a href="/dashboard/" class="space-x-1 btn bg-gradient-to-br from-amber-400 to-amber-500 px-6">
            <span><i class="fa-regular fa-arrow-left"></i></span>
            <span>Go Back</span>
        </a>
    </div>
</main>
{% endblock main %}

