
<p>
    Dear {{ data.emp_name }},<br><br>
    <img src="{{ url }}" width='200'>
    <br>
We would like to take a moment to wish you a very happy birthday! On behalf of everyone at Global Mode and Accessories Pvt. Ltd., we hope that your day is filled with joy and celebration.<br><br>
We appreciate all the hard work you do for our company, and we want you to know how much we value you as an employee. Your dedication and commitment are a vital part of our success, and we are grateful for your contributions.<br><br>
On your special day, we hope you have a wonderful birthday.<br><br>
Once again, happy birthday from all of us at Global Mode and Accessories Pvt. Ltd.! We are honoured to have you as part of our team, and we look forward to another year of working together.
<br>
<br>
Regards,<br>
<strong>Global Mode and Accessories Pvt. Ltd.</strong>
</p>