<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <form action="" method="post" id="myForm" onsubmit="disableOnSubmit(this, 'printButton')"> {% csrf_token %}
        <input type="text" name="demo" required>
        <input type="submit" value="Print" id="printButton">
    </form>

    <script>
        function disableOnSubmit(buttonID) {
            $(`#${buttonID}`).prop('disabled', true)
            console.log("Hello")
        }

        // $(document).ready(function(){
        //     $('#myForm').on('submit', function(){
        //         $('#printButton').prop('disabled', true);
        //     });
        // });
    </script>
</body>
</html>