{% extends 'base.html' %}

{% block main %}
<main class="flex-grow w-full overflow-auto relative">
    <div class="rounded-lg overflow-hidden p-3 shadow-inner bg-base-200 min-h-full h-full overflow-y-auto">
        <!-- Main Content -->
        <div class="w-full rounded-xl space-y-4 flex flex-col h-full bg-base-100 p-3 shadow-lg">
            <div class="flex space-x-2">
                <a class="btn btn-primary" href="">Permission Group</a>
                <a class="btn btn-primary" href="">User Group</a>
                <a class="btn btn-primary" href="">User Permission</a>
            </div>
        </div>
    </div>
</main>
{% endblock main %}
