{% extends 'form.html' %}

{% block form %} 

<div style="overflow: scroll;">
    <form method="{% if request.GET.unit_code %}POST{% else %}GET{% endif %}"> {% csrf_token %}
        <input type="submit" class="hidden">

        <select name="mmr_code" id="mmr_code" style="width: 125px; border: 1px solid black;" >
            <option value="">Select MMR</option>
            {% for mmr_val in mmr_list %}
            <option {% if request.GET.mmr_code == mmr_val.id|stringformat:"i" %}selected{% endif %} value="{{ mmr_val.id }}">{{ mmr_val.mmr_code }}</option>
            {% endfor %}
        </select>
        
        <select name="unit_code" id="unit_code" style="width: 125px; border: 1px solid black;" >
            <option value="">Select Unit</option>
            {% for unit_val in unit_list %}
            <option {% if request.GET.unit_code == unit_val.id|stringformat:"i" %}selected{% endif %} value="{{ unit_val.id }}">{{ unit_val.name }}</option>
            {% endfor %}
        </select>

        {% if request.GET.unit_code and request.GET.mmr_code %}
        <table class="w-full table table-sm [&>*_th]:border [&>*_td]:border data-table">
            <thead>
                <tr class="sticky top-0 bg-slate-300 text-slate-800">
                    <th>#</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Onroll Manpower</th>
                    <th>Approve Manpower</th>
                    <th>Action</th>
                </tr>
                <tr class="sticky top-0 bg-slate-200 text-slate-800">
                    <th>#</th>
                    <th>
                        <select name="dept_sing" id="dept_sing" class="!select-sm">
                            <option value=""></option>
                            {% for dept_val in dept_list %}
                            <option value="{{ dept_val.dep_code }}">{{ dept_val.dep_name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>
                        <select name="desg_sing" id="desg_sing" class="!select-sm">
                            <option value=""></option>
                            {% for desg in desg_list %}
                            <option value="{{ desg.des_code }}">{{ desg.des_name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th></th>
                    <th style="padding: 0 !important;"><input type="number" name="manp_sing" id="manp_sing" value="1" maxlength="3" class="!input-sm" list="order_list"></th>
                    <th><button type="button" id="add-new-btn" class="btn btn-sm btn-primary w-full">Add</button></th>
                </tr>
            </thead>
            <tbody>
                

                {% for dept in dept_desg_list %}
                <tr id="tr{{ forloop.counter }}">
                    <td>
                        <input type="hidden" value="{{forloop.counter0}}" name="counter">
                        <input type="hidden" value="{{dept.app_id}}" name="app_id[{{forloop.counter0}}]">
                        {{ forloop.counter }}
                    </td>
                    <td><input type="hidden" value="{{dept.dep_code}}" name="dept_code[{{forloop.counter0}}]">{{ dept.dep_name }}</td>
                    <td><input type="hidden" value="{{dept.des_code}}" name="desg_code[{{forloop.counter0}}]">{{ dept.des_name }}</td>
                    <td>{{ dept.onroll }}</td>
                    <td style="padding: 0 !important;"><input type="number" name="manp[{{ forloop.counter0 }}]" id="manp{{ forloop.counter }}" value="{% if dept.app_manp %}{{ dept.app_manp }}{% endif %}" style="height: 36px;width: 100%;" maxlength="3" class="number-input" list="order_list"></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <input type="submit" class="hidden" value="">
    </form>
</div>
 

{% endblock form %}




{% block script %}
<script>
    $(document).ready(function(){
        $("#unit_code").on("change", function(){
            val = $(this).val()
            mmr_code = $("#mmr_code").val();
            new_url = `?unit_code=${val}&mmr_code=${mmr_code}`
            window.location.replace(new_url);
        })


        $("#form-save-btn").click(function(){
            $("input[type='submit']").click();
        })

        $("#add-new-btn").on("click", function(){
            let dept_sing = $("#dept_sing").val()
            let desg_sing = $("#desg_sing").val()
            let manp_sing = $("#manp_sing").val()
            let unit_code = $("#unit_code").val()
            $.ajax({
                method : 'POST',
                url : '',
                data : {
                    'flag' : 'add_btn',
                    'dept_sing' : dept_sing,
                    'desg_sing' : desg_sing,
                    'manp_sing' : manp_sing,
                    'unit_code' : unit_code,
                    'csrfmiddlewaretoken' : "{{ csrf_token }}"
                },
                success : function() {
                    alert("Data saved")
                }, 
                error: function(e){
                    alert("Something went wrong")
                    console.log(e)
                }
            })
        })
    })

function add_row(i){
    //$('#myTable > tbody:last').append('<tr><td>2</td><td>2</td><td>2</td><td>2</td></tr>'); 
    //$('#example thead tr:last').clone(true).appendTo( '#example thead' );
    //$('#tr' + i).after('<tr><td>2</td><td>2</td><td>2</td><td>2</td></tr>');
    $('#tr' + i).after($('#tr' + i).clone());

}

function remove_row(i){
    //$('#myTable > tbody:last').append('<tr><td>2</td><td>2</td><td>2</td><td>2</td></tr>'); 
    $('#tr' + i).remove();
}


</script>

{% endblock script %}