{% extends 'new/base.html' %}

{% block main %}

<div class="rounded-box bg-base-100 shadow-soft flex flex-col h-full overflow-hidden knox-table-wrapper">

    <div class="table-header-wrapper">
        <h1 class="font-semibold"> Air Freight Cost Entry Form </h1>
        <div class="join">
            <button class="btn btn-primary btn-sm join-item table-filter-toggle"><i class="fa-regular fa-filter-list"></i></button>
            <input class="input input-sm input-primary bg-base-200 join-item knox-table-search" type="search" placeholder="Search in table" />
            <button class="btn btn-sm btn-primary join-item kt-btn"><i class="fa-solid fa-file-arrow-down"></i></button>
        </div>
    </div>

    <form class="table-filter-wrapper" action="{% url 'airFreight' %}" method="get">
        <div class="flex flex-wrap w-full p-2">

            <!-- From Date -->
            <div class="w-full md:w-1/3 lg:w-1/4 p-0.5">
                <div class="knox-form-input join-item">
                    <label>
                        <input class="knox-input peer" type="date" name="from_date" value_to="" >
                        <span class="label-text">From Date</span>
                    </label>
                </div>
            </div>

            <!-- Till Date -->
            <div class="w-full md:w-1/3 lg:w-1/4 p-0.5">
                <div class="knox-form-input join-item">
                    <label>
                        <input class="knox-input peer" type="date" name="till_date" value_to="" >
                        <span class="label-text">Till Date</span>
                    </label>
                </div>
            </div>

            <div class="p-0.5">
                <input type="submit" class="btn btn-md btn-success px-8">
            </div>

        </div>
    </form>
    <div class="flex-grow table-wrapper overflow-auto">
        <table class="knox-table table-sm">
            <thead>
                <tr>
                    <th> S/N </th>
                    <th> Unit Name </th>
                    <th> Invoice No </th>
                    <th> Invoice Date </th>
                    <th> Buyer </th>
                    <th> Style </th>
                    <th> Order No </th>
                    <th> Pre Carriageby </th>
                    <th> Mode of Dispatch </th>
                    <th> Ship Qty </th>
                    <th> Ship Cost </th>
                    <th> Cost To Company % </th>
                    <th> Cost To Company </th>
                    <th> Cost to Mgnt </th>
                    <th> Cost to Factory </th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">    
                {% for item in data_list %}      
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td> {{forloop.counter}} </td>                   
                    <td value="{{item.HomeLocation}}" > {{item.InvHomeLocation}} </td>                    
                    <td> {{item.InvoiceNo}} </td>                    
                    <td> {{item.dated}} </td>                    
                    <td value="{{item.Buyer}}" > {{item.party_name}} </td>                    
                    <td> {{item.styleno}} </td>                    
                    <td> {{item.}} </td>                    
                    <td> {{item.}} </td>                    
                    <td> {{item.Mode}} </td>                    
                    <td> {{item.Quantity}} </td>                    
                    <td> <input type="number"> </td>                    
                    <td> <input type="number"> </td>                    
                    <td> <input type="number"> </td>                    
                    <td> <input type="number"> </td>                    
                    <td> <input type="number"> </td>                    
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><span class="kt-row-count"></span></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                </tr>
            </tfoot>
        </table>

        
    </div>
</div>

{% endblock main %}

