{% extends 'new/base.html' %}
{% block main %}

<div class="rounded-box bg-base-100 shadow-soft flex flex-col h-full overflow-hidden knox-table-wrapper">

    <div class="flex flex-wrap">
        <div class="h-full w-full bg-base-100 rounded-box py-2 pt-0 shadow-soft flex flex-wrap">
            <div class="py-1.5 px-3 flex justify-between items-center w-full border-b">
                <h1 class="font-semibold">  {% block form_name %} Energy Cost Entry Form {% endblock form_name %} </h1>
                <div class="flex space-x-2">
                    <button type="button" class="btn btn-success btn-sm px-8" id="save-btn"> Refresh </button>
                </div>
            </div>

            <form method="get" class="flex p-1 pt-1.5 w-full" id="claim-form">
                {% csrf_token %}
                <input type="submit" id="submit-btn" hidden>

                <!-- UNIT -->
                <div class="w-full md:w-1/5 p-0.5">
                    <div class="knox-form-input">
                        <label>
                            <select name="unit" id="unit" class="knox-select" required>
                                <option value=""> -- </option>
                                {% for item in unit %}
                                <option value="{{ item.id }}"> {{item.name}} </option>
                                {% endfor %}
                            </select>
                            <span class="label-text"> UNIT </span>
                        </label>
                    </div>
                </div>

                <!-- HEAD -->
                <div class="w-full md:w-1/5 p-0.5">
                    <div class="knox-form-input">
                        <label>
                            <select name="head" id="head" class="knox-select" required>
                                <option value=""> -- </option>
                                {% for item in head %}
                                <option value="{{item.id}}"> {{item.name}} </option>
                                {% endfor %}
                            </select>
                            <span class="label-text"> HEAD </span>
                        </label>
                    </div>
                </div>
                            
                <!-- SUB HEAD -->
                <div class="w-full md:w-1/5 p-0.5">
                    <div class="knox-form-input">
                        <label>
                            <select name="sub_head" id="sub_head" class="knox-select" required>
                                <option value=""> </option>
                            </select>
                            <span class="label-text"> SUB HEAD </span>
                        </label>
                    </div>
                </div>

                <!-- MONTH -->
                <div class="w-full md:w-1/5 p-0.5">
                    <div class="knox-form-input">
                        <label>
                            <select name="month" id="month" class="knox-select" required>
                                {% for item in month_list %}
                                    <option {% if month|stringformat:"i" == item.m_num %}selected{% endif %} value="{{ item.m_num }}">{{ item.m_name }}</option>
                                {% endfor %}
                            </select>
                            <span class="label-text"> MONTH </span>
                        </label>
                    </div>
                </div>

                <!-- YEAR -->
                <div class="w-full md:w-1/5 p-0.5">
                    <div class="knox-form-input">
                        <label>
                            <select name="year" id="year" class="knox-select" required>
                                {% for year_no in year_list %}
                                <option {% if year|stringformat:"i" == year_no|stringformat:"i" %}selected{% endif %} value="{{ year_no }}">{{ year_no }}</option>
                                {% endfor %}
                            </select>
                            <span class="label-text"> YEAR </span>
                        </label>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div id="diesel_view" class="flex-grow table-wrapper overflow-auto" style="display: none;">
        <table class="knox-table table-sm">
            <thead>
                <tr class="sticky top-0 z-10">
                    <th> S/N </th>
                    <th> UNIT </th>
                    <th> HEAD </th>
                    <th> SUB HEAD </th>
                    <th> DATE </th>
                    <th> READING </th>
                    <th> CONS/HR </th>
                    <th> FUEL CONSUMED </th>
                    <th> RUNNING UNIT </th>
                    <th> RATE </th>
                    <th> VALUE </th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
            <tfoot>
                <tr>
                    <td><span class="kt-row-count"></span></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="PNG_view" class="flex-grow table-wrapper overflow-auto" style="display: none;">
        <table class="knox-table table-sm">
            <thead>
                <tr class="sticky top-0 z-10">
                    <th> S/N </th>
                    <th> UNIT </th>
                    <th> HEAD </th>
                    <th> SUB HEAD </th>
                    <th> DATE </th>
                    <th> READING </th>
                    <th> CONSUMPTION </th>
                    <th> RATE </th>
                    <th> VALUE </th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
            <tfoot>
                <tr>
                    <td><span class="kt-row-count"></span></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="solar_view" class="flex-grow table-wrapper overflow-auto" style="display: none;">
        <table class="knox-table table-sm">
            <thead>
                <tr class="sticky top-0 z-10">
                    <th> S/N </th>
                    <th> UNIT </th>
                    <th> HEAD </th>
                    <th> SUB HEAD </th>
                    <th> DATE </th>
                    <th> READING </th>
                    <th> CONSUMPTION </th>
                    <th> RATE </th>
                    <th> VALUE </th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
            <tfoot>
                <tr>
                    <td><span class="kt-row-count"></span></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="electricity_view" class="flex-grow table-wrapper overflow-auto" style="display: none;">
        <table class="knox-table table-sm">
            <thead>
                <tr class="sticky top-0 z-10">
                    <th> S/N </th>
                    <th> UNIT </th>
                    <th> HEAD </th>
                    <th> SUB HEAD </th>
                    <th> DATE </th>
                    <th> KWH READING </th>
                    <th> MULTIPLIER </th>
                    <th> UNIT CONSUMED </th>
                    <th> KVAH READING </th>
                    <th> POWER FACTOR </th>
                    <th> RATE </th>
                    <th> VALUE </th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
            <tfoot>
                <tr>
                    <td><span class="kt-row-count"></span></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>

<script>
$(document).ready(function() {
    $("#save-btn").on("click", function() {
        $("#claim-form").submit();
    });

    $("#head").on("change", function() {
        $("#diesel_view").hide();
        $("#PNG_view").hide();
        $("#solar_view").hide();
        $("#electricity_view").hide();
    });

    $("#sub_head").on("change", function() {
        let selectedHead = $("#head").val();
        $("#diesel_view").hide();
        $("#PNG_view").hide();
        $("#solar_view").hide();
        $("#electricity_view").hide();
        if (selectedHead === "173") {
            $("#diesel_view").show();
        } else if (selectedHead === "174") {
            $("#PNG_view").show();
        } else if (selectedHead === "175") {
            $("#solar_view").show();
        } else if (selectedHead === "172") {
            $("#electricity_view").show();
        }
    });

    $("#unit").on("change", function() {
        let unit = $(this).val();
        $.ajax({
            method: 'GET',
            url: '{% url 'energy_cost_form' %}', 
            async : true,
            data: {
                'flag': 'get_head_by_unit',  
                'unit':unit,
            },
            success: function(data) {
                    if (data) {
                        var html = '<option value=""></option>';
                        $(data).each(function(index, item) {
                            let option = `<option value='${item.id}'>${item.name}</option>`;
                            html += option;
                        });
                        $("#head").html(''); 
                        $("#head").append(html).kf_select_refresh();  
                    } else {
                        alert("Related Data Not Found.");
                    }
            },
            error: function() {
                alert("Unable to fetch data");
            }
        });
    });

    $("#head").on("change", function() {
        let head = $(this).val();
        $.ajax({
            method: 'GET',
            url: '{% url 'energy_cost_form' %}', 
            async : true,
            data: {
                'flag': 'get_sub_head_by_head',  
                'head':head
            },
            success: function(data) {
                    if (data) {
                        var html = '<option value=""></option>';
                        $(data).each(function(index, item) {
                            let option = `<option value='${item.id}'>${item.name}</option>`;
                            html += option;
                        });
                        $("#sub_head").html(''); 
                        $("#sub_head").append(html).kf_select_refresh();  
                    } else {
                        alert("Related Data Not Found.");
                    }
            },
            error: function() {
                alert("Unable to fetch data");
            }
        });
    });

});
</script>

{% endblock %}
