{% extends 'base-3.html' %}
{% load static %}


{% block main %}
<div class="w-full rounded-xl space-y-2 flex flex-col h-full">
    <!-- Filter Bar -->
    <div class="py-1 px-3 rounded-xl shadow-lg w-full flex justify-between items-center bg-base-100" data-aos="zoom-in">
        <div data-aos="zoom-in">
            <h1 class="font-bold text-xl capitalize">Allocation</h1>
        </div>
        <div data-aos="zoom-in" class="flex space-x-2">
            <form method="get" class="flex items-center space-x-2">
                <label class="label !p-0 w-32">
                    <select name="unit_code" id="unit_code" class="select select-sm select-2">
                        <option value="">Select Unit</option>
                        {% for unit_val in unit_list %}
                        <option {% if request.GET.unit_code == unit_val.payroll_code %}selected{% endif %} value="{{ unit_val.payroll_code }}">{{ unit_val.name }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label class="label !p-0 w-32">
                    <select name="month" class="select-2">
                        <option>-- Month --</option>
                        {% for item in month_list %}
                        <option {% if month|stringformat:"i" == item.m_num %}selected{% endif %} value="{{ item.m_num }}">{{ item.m_name }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label class="label !p-0 w-32">
                    <select name="year" class="select-2">
                        <option>-- Year --</option>
                        {% for year_no in year_list %}
                        <option {% if year|stringformat:"i" == year_no|stringformat:"i" %}selected{% endif %} value="{{ year_no }}">{{ year_no }}</option>
                        {% endfor %}
                    </select>
                </label>
                <button type="submit" class="btn btn-sm btn-primary">Search</button>                
            </form>
        </div>
    </div>

    <form class="shadow-lg h-full w-full overflow-auto bg-base-100 rounded-xl" method="post" data-aos="zoom-in"> {% csrf_token %}
        <table class="!w-full table [&>*_th]:border [&>*_td]:border data-table">
            <thead>
                <tr class="sticky top-0 bg-blue-300 text-slate-800 capitalize">
                    <th rowspan="2">Sr.</th>
                    <th>Dayno</th>
                    <th>Payroll Emp Count</th>
                    <th>Alloc Emp Count</th>
                    <th>OT Hour</th>

                </tr>
            </thead>

            <tbody>
                {% for row in data_list %}

                <tr class="{% if row.used_min %}bg-green-100{% endif %}">
                    <th class="!p-0 text-center">
                        {{ forloop.counter }}
                    </th>
                    <td class="!py-0">
                        <span style="color: #0500c1;font-weight: 600;" onclick="window.open('/miscellaneous/alloc/?dayno={{row.dayno}}&month={{month}}&year={{year}}&unit_code={{unit_code}}','popUpWindow','height=500,width=1150,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,titlebar=no,menubar=no, status=yes');">
                            {{ row.dayno }}
                        </span>
                    </td>
                    <td class="!py-0">{{ row.payroll_emp }}</td>
                    <td class="!py-0">{{ row.alloc_emp_count }}</td>
                    <td class="!py-0">{{ row.ot_time|default_if_none:'' }}</td>

                </tr>

                {% endfor %}
            </tbody>
            
        </table>
        <!--<input type="submit" class="hidden" id="submit-btn">-->
    </form>

    <!-- Table footer -->
    <div data-aos="zoom-in" class="py-1 px-3 rounded-xl shadow-lg w-full bg-base-100 dt-filter-botom flex justify-between items-center"></div>
</div>

{% endblock main %}


{% block script %}
<script>
    // $(document).ready(function () {
    //     // Refine data-table design
    //     $(".dataTables_length select").addClass('select select-xs select-bordered').prependTo(".dt-filter-top");
    //     $(".dataTables_filter input").addClass('input input-xs input-bordered').attr(
    //         'placeholder', 'search in table...'
    //     ).prependTo(".dt-filter-top");
    //     $(".dataTables_info, .dataTables_paginate").prependTo(".dt-filter-bottom");
    //     $(".dataTables_length, .dataTables_filter").remove();

    //     // Align tbody text if thead is in center
    //     $('thead tr').find('th').each(function (index) {
    //         const thClasses = $(this).attr('class').split(' ');
    //         const relevantClasses = thClasses.filter(cls => cls === '!text-right' || cls === '!text-center');
    //         relevantClasses.forEach(function (cls) {
    //             $('tbody tr').each(function () {
    //                 const $td = $(this).find('td, th').eq(index);
    //                 if (cls) { $td.addClass(cls); }
    //             });
    //         });
    //     });
    // })
</script>

{% endblock script %}

