{% extends 'new/base.html' %}

{% block main %}

<div class="rounded-box bg-base-100 shadow-soft flex flex-col h-full overflow-hidden knox-table-wrapper">

    <div class="table-header-wrapper">
        <h1 class="font-semibold"> Turnover KPI </h1>
        <div class="join">
            <button class="btn btn-primary btn-sm join-item table-filter-toggle"><i class="fa-regular fa-filter-list"></i></button>
            <input class="input input-sm input-primary bg-base-200 join-item knox-table-search" type="search" placeholder="Search in table" />
            <button class="btn btn-sm btn-primary join-item kt-export-btn"><i class="fa-solid fa-file-arrow-down"></i></button>
        </div>
    </div>

    <form class="table-filter-wrapper" action="{% url 'saleSummary' %}" method="get">
        <div class="flex flex-wrap w-full p-2">
            <div class="w-full md:w-1/3 lg:w-1/4 p-0.5">
                <div class="knox-form-input join-item">
                    <label>
                        <input type="date" name="from_date" required  class="knox-input peer">
                        <span class="label-text">From Date</span>
                    </label>
                </div>
            </div>
            <div class="w-full md:w-1/3 lg:w-1/4 p-0.5">
                <div class="knox-form-input join-item">
                    <label>
                        <input type="date" name="till_date" required  class="knox-input peer" gt="from_date">
                        <span class="label-text">Till Date</span>
                    </label>
                </div>
            </div>
            <div class="hidden w-full md:w-1/3 lg:w-1/4 p-0.5">
                <div class="knox-form-input join-item">
                    <label>
                        <input type="text" name="nulls" value="NULL" required class="knox-input peer">
                    </label>
                </div>
            </div>
            <div class="hidden w-full md:w-1/3 lg:w-1/4 p-0.5">
                <div class="knox-form-input join-item">
                    <label>
                        <input type="text" name="summaries" value="summary" required class="knox-input peer">
                    </label>
                </div>
            </div>
            <div class="p-0.5">
                <input type="submit" class="btn btn-md btn-success px-8">
            </div>
        </div>
    </form>
    <div class="flex-grow table-wrapper overflow-auto">
        <table class="knox-table table-sm">
            <thead>
                <tr>
                    <th> S/N </th>
                    <th>Trans loc</th>
                    <th> <a href=""> FTD PCS </a> </th>
                    <th>FTD AMOUNT</th>
                    <th> <a href=""> MTD PCS </a> </th>
                    <th>MTD AMOUNT</th>
                    <th> <a href=""> YTD PCS </a> </th>
                    <th>YTD AMOUNT</th> 
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                {% for item in json_result %}
                <tr class="border-b border-gray-200 hover:bg-gray-100">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.Trans_loc }}</td>
                    <td>
                        <span style="color: #0500c1;font-weight: 600;" onclick="window.open('/miscellaneous/turnover/?disp_type=ftd_pcs_unit & from_date={{ from_date }}&till_date={{till_date}}&unit_code={{ item.Trans_loc_code }}','popUpWindow','height=500,width=1150,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,titlebar=no,menubar=no, status=yes');">
                            {{ item.FTD_PCS|default:'' }}
                        </span>
                    </td>
                    <td>
                        <span style="color: #0500c1;font-weight: 600;" onclick="window.open('/miscellaneous/turnover/?disp_type=ftm_pcs_unit & from_date={{from_date}}&till_date={{till_date}}&unit_code={{ item.Trans_loc_code }}','popUpWindow','height=500,width=1150,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,titlebar=no,menubar=no, status=yes');">
                            {{ item.FTD_AMOUNT|default:''|floatformat:2 }}
                        </span>
                    </td>
                    <td>
                        <span style="color: #0500c1;font-weight: 600;" onclick="window.open('/miscellaneous/turnover/?disp_type=mtd_pcs_unit&from_date={{from_date}}&till_date={{till_date}}&unit_code={{ item.Trans_loc_code }}','popUpWindow','height=500,width=1150,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,titlebar=no,menubar=no, status=yes');">
                            {{ item.MTD_PCS|default:'' }}
                        </span>
                    </td>
                    <td>{{ item.MTD_AMOUNT|default:''|floatformat:2 }}</td>
                    <td>
                        <span style="color: #0500c1;font-weight: 600;" onclick="window.open('/miscellaneous/turnover/?disp_type=ytd_pcs_unit&from_date={{from_date}}&till_date={{till_date}}&unit_code={{ item.Trans_loc_code }}','popUpWindow','height=500,width=1150,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,titlebar=no,menubar=no, status=yes');">
                            {{ item.YTD_PCS|default:'' }}
                        </span>
                    </td>
                    <td>{{ item.YTD_AMOUNT|default:''|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><span class="kt-row-count"></span></td>
                    <td><input type="search" class="kt-col-search"></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                    <td><span class="kt-col-total"></span></td>
                </tr>
            </tfoot>
        </table>

        
    </div>
</div>

{% endblock main %}

