{% extends 'form-table.html' %}

{% block form %}
<form action="" method="post" class="flex flex-wrap">
    {% csrf_token %}
    <!-- Employee Code -->
    <div class="w-1/4 pt-1">
        <label class="float-input-label floated-label">
            <span class="label-text">Employee Code</span>
            <input type="text" name="emp_code" value="{{ data.emp_paycode }}" readonly required class="text-input">
        </label>
    </div>
    <!-- Employee Name -->
    <div class="w-1/4 pt-1">
        <label class="float-input-label floated-label">
            <span class="label-text">Employee Name</span>
            <input type="text" name="emp_name" value="{{ data.emp_name }}" readonly required class="text-input">
        </label>
    </div>
    <!-- Unit -->
    <div class="w-1/4 pt-1">
        <label class="float-input-label floated-label">
            <span class="label-text">Location</span>
            <select name="unit" class="select-input" readonly required>
                <option value="{{ data.loc_code }}" selected>{{ data.loc_name }}</option>
            </select>
        </label>
    </div>
    <!-- Department -->
    <div class="w-1/4 pt-1">
        <label class="float-input-label floated-label">
            <span class="label-text">Department</span>
            <input type="text" name="department" value="{{ data.dep_name }}" required readonly class="text-input">
        </label>
    </div>
    <!-- Reporting Manager -->
    <div class="w-1/4 pt-1">
        <label class="float-input-label floated-label">
            <span class="label-text">Reporting Manager</span>
            <input type="hidden" name="reporting_manager" value="{{ data.reporting_manager.emp_paycode }}">
            <input type="text" value="{{ data.reporting_manager.emp_name }}" required readonly class="text-input">
        </label>
    </div>
    <!-- Application Type -->
    <div class="w-1/4 pt-1">
        <label class="float-input-label floated-label">
            <span class="label-text z-40">Application Type</span>
            <input type="text" name="application_type" class="text-input" value="Comp-off" readonly required>
        </label>
    </div>
    <!-- Comp-off From -->
    <div class="w-1/4 pt-1">
        <label class="float-input-label">
            <span class="label-text">Comp-off Day</span>
            <input type="date" name="leave_from" min="{{ min_date }}" required class="text-input">
        </label>
    </div>
    <!-- Comp-off TIll -->
    <div class="w-1/4 pt-1">
        <label class="float-input-label">
            <span class="label-text z-40">Working Day</span>
            <select name="working_day" required class="select-input select-2">
                <option value="">--</option>
                <option>Sunday</option>
                {% for items in working_day %}
                    <option>{{ items.h_name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <!-- Full Day/Half Day -->
    <div class="w-1/4 pt-1">
        <label class="float-input-label">
            <span class="label-text z-40">Full Day/Half Day (Day Count)</span>
            <select name="day_part" class="select-input select-2" required>
                <option value="">--</option>
                <option value="FD">Full Day</option>
                <option value="HD">Half Day</option>
            </select>
        </label>
    </div>
    <!-- Address During Day Period -->
    <div class="w-1/4 pt-1">
        <label class="float-input-label">
            <span class="label-text z-40">Address During Day Period</span>
            <input type="text" name="address_on_leave" required class="text-input">
        </label>
    </div>
    <!-- Mobile Number -->
    <div class="w-1/4 pt-1">
        <label class="float-input-label">
            <span class="label-text z-40">Mobile Number</span>
            <input type="number" autocomplete="nope" name="mobile_number" required class="text-input onlyNumberField" data-max-length="10">
        </label>
    </div>
    <!-- Reason For Leave -->
    <div class="w-1/4 pt-1">
        <label class="float-input-label">
            <span class="label-text z-40">Reason For Leave</span>
            <input type="text" name="reason_for_leave" required class="text-input">
        </label>
    </div>
    <div class="flex w-full justify-end pt-0.5 px-1">
        <input type="Submit" value="Save" class="btn btn-success btn-sm px-8 mt-3">
    </div>
</form>
{% endblock form %}
{% block tfilter %}
<div class="p-2">
    <h1 class="w-full bg-base-200 p-2 rounded-lg font-semibold">Comp-Off Application History</h1>
    <form action="" method="GET" class="flex flex-wrap">
        <!-- Year -->
        <div class="w-1/4 pt-1">
            <label class="float-input-label floated-label">
                <span class="label-text z-40">Year</span>
                <select name="year" class="select-input select-2" required>
                    <option value="">--</option>
                    {% for item in year_list %}
                        <option {% if item.name == current_year %} selected {% endif %}>{{ item.name }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <!-- Month -->
        <div class="w-1/4 pt-1">
            <label class="float-input-label floated-label">
                <span class="label-text z-40">Month</span>
                <select name="month" class="select-input select-2" required>
                    <option value="">--</option>
                    {% for item in month_list %}
                        <option {% if item.value == current_month %} selected {% endif %} value="{{ item.value }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <!-- Application Status -->
        <div class="w-1/4 pt-1">
            <label class="float-input-label {% if application_status %}floated-label{% endif %}">
                <span class="label-text z-40">Application Status</span>
                <select data-col-index="2" name="application_status" class="select-input select-2">
                    <option value="">--</option>
                    <option {% if application_status == 'Pending' %} selected {% endif %}>Pending</option>
                    <option {% if application_status == 'Approved' %} selected {% endif %}>Approved</option>
                    <option {% if application_status == 'Rejected' %} selected {% endif %}>Rejected</option>
                </select>
            </label>
        </div>
        <div class="w-1/4 pt-0.5 px-1">
            <input type="Submit" value="Search" class="btn btn-success btn-sm px-8 mt-3">
        </div>
    </form>
</div>
{% endblock tfilter %}
{% block thead %}
    <td>Application Type</td>
    <td>Comp-off Day</td>
    <td>Working Day</td>
    <td>Working Date</td>
    <td>Day Part</td>
    <td>Application Status</td>
    <td>Reason</td>
    <td>Applied On</td>
    <td>Approved On</td>
    <td>Remarks</td>
{% endblock thead %}
{% block tbody %}
    {% for item in leave_data %}
        <tr>
            <td>{{ item.application_type }}</td>
            <td class="whitespace-nowrap">{{ item.leave_from|date:"d-m-Y" }}</td>
            <td>{{ item.working_day }}</td>
            <td>{{ item.leave_from|date:"d-m-Y" }}</td>
            <td>{{ item.get_day_part_display }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.reason_for_leave }}</td>
            <td>{{ item.applied_on|date:"d-m-Y h:i A" }}</td>
            <td>{{ item.approved_on|date:"d-m-Y h:i A" }}</td>
            <td>{{ item.approval_remarks|default_if_none:'' }}</td>
        </tr>
    {% endfor %}
{% endblock tbody %}