{% extends 'base-3.html' %}


{% block main %}
<div class="w-full rounded-lg space-y-2 flex flex-col h-full">
    <!-- Filter bar -->
    <div class="py-1 px-3 rounded-lg shadow-lg w-full flex justify-between items-center bg-base-100" data-aos="zoom-in">
        <div>
            <h1 class="font-semibold capitalize">User Permission</h1>
        </div>
        <div class="text-sm font-semibold space-x-2 flex items-center">
            <div class="dt-filter-top flex items-center space-x-2"></div>
            <form action="" class="flex items-center space-x-2">
                <label class="label !p-0 w-56">
                    <select name="uid" class="select-2" required>
                        <option>-- Employee Name --</option>
                        {% for item in employee_list %}
                        <option {% if request.GET.uid == item.emp_pay_code %}selected{% endif %} value="{{ item.emp_pay_code }}">
                            {{ item.emp_name }} ( {{ item.emp_pay_code }} )
                        </option>
                        {% endfor %}
                    </select>
                </label>
                <label class="label !p-0 w-44">
                    <select name="mid" class="select-2" required>
                        <option>-- Module Name --</option>
                        {% for item in module_list %}
                        <option {% if request.GET.mid == item.id|stringformat:"i" %}selected{% endif %} value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </label>
                <button type="submit" class="btn btn-sm btn-primary rounded">Search</button>
            </form>
            <button class="btn btn-sm btn-success rounded px-10" onclick="$('#submit-btn').click()">Save</button>
        </div>
    </div>

    <!-- Permission Table -->
    <div class="shadow-lg h-full w-full overflow-auto bg-base-100 rounded-lg" data-aos="zoom-in">
        <form method="POST" class="rounded-lg flex flex-row-reverse [&>*]:flex-grow">   
            <div class="sticky top-0 !flex-grow-0">
                <h1 class="bg-slate-300 p-2 font-semibold border-b border-slate-400 text-sm">Other Permission</h1>
                
                <div class="space-y-2 p-2">
                    <label class="checkbox-input-label space-x-2 !m-0 w-56">
                        <input class="checkbox-input !checkbox-info" type="checkbox" name="is_reporting_manager" value="True"
                            {% if user.is_reporting_manager %} checked {% endif %}>
                        <span class="label-text">Set as Reporting Manager</span>
                    </label>

                    <label class="label !p-0 w-56 flex-col items-start">
                        <span class="label-text">Employee Email ID</span>
                        <input type="email" name="email" value="{{ user.email|default_if_none:'' }}" class="input input-sm input-bordered w-full">
                    </label>
                    
                    <label class="label !p-0 w-56 flex-col items-start">
                        <span class="label-text">Reporting To </span>
                        <select class="select-2" name="reporting_manager">
                            <option value="">-- Reporting To --</option>
                            {% for item in reporting_manager_list %}
                            <option {% if user.reporting_manager.id == item.id %} selected {% endif %} value="{{ item.id }}">
                                {{ item.full_name }} ( {{ item.username }} )
                            </option>
                            {% endfor %}
                        </select>
                    </label>
    
                    <label class="label !p-0 w-56 flex-col items-start">
                        <span class="label-text">Primary Location</span>
                        <select class="select select-sm select-bordered w-full" name="location">
                            <option value="">-------</option>
                            {% for item in location_list %}
                            <option {% if item.id in user.location %} selected {% endif %} value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </label>

                    <label class="label !p-0 w-56 flex-col items-start">
                        <span class="label-text">Location Permission</span>
                        <select class="select-2" multiple name="location_permission">
                            {% for item in location_list %}
                            <option {% if item.id in location_permission_list %} selected {% endif %} value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
            </div>

            {% csrf_token %}

            <table class="table-hard data-table">
                <thead>
                    <tr class="bg-slate-300 text-black dt-col-search sticky top-0 z-30">
                        <th>SR</th>
                        <th>Menu</th>
                        <th>Page</th>
                        <th class="!py-0 dt-nosort">Permission</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for item in page_list %}
                    <tr class="z-20">
                        <th>{{ forloop.counter }}</th>
                        <td>{{ item.parent.name }}</td>
                        <td><a class="hover:link-primary" href="{{ item.url }}">{{ item.name }}</a></td>
                        <td class="!p-0 permission-td">
                            <div class="flex flex-wrap w-full">
                                <div class="px-1 w-fit">
                                    <label class="checkbox-input-label w-fit space-x-2">
                                        <input class="checkbox checkbox-sm !checkbox-success check-all" type="checkbox">
                                        <span class="label-text">All</span>
                                    </label>
                                </div>

                                {% for permission in item.pagepermissionmaster_set.all %}
                                <div class="px-1 w-fit">
                                    <label class="checkbox-input-label w-fit space-x-2">
                                        <input class="checkbox checkbox-sm !checkbox-primary" type="checkbox" name="page_permission" value="{{ permission.id }}"
                                            {% if permission.id in user_permission_list %} checked {% endif %}>
                                        <span class="label-text">
                                            {{ permission.permission.name }}
                                        </span>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <input type="submit" id="submit-btn" class="hidden">
        </form>
    </div>

    <!-- Table Paging -->
    <div data-aos="zoom-in" class="py-1 px-3 rounded-lg shadow-lg w-full bg-base-100 dt-filter-botom flex justify-between items-center"></div>
</div>
{% endblock main %}

{% block script %}
<script>
    function refresh_checkbox() {
        $(".permission-td").each(function(){
            var check_all = true;
            let checkbox_list = $(this).find(".checkbox").not(".check-all");
            $(checkbox_list).each(function(){
                if (!$(this).prop("checked")) {
                    check_all = false;
                }
            })
            if (check_all === true && checkbox_list.length){
                $(this).find(".check-all").prop("checked", true)
            } else {
                $(this).find(".check-all").prop("checked", false)
            }
        })
    }

    $(document).ready(function(){
        // Check all permission's checkbox if click on `check-all` checkbox
        $(".check-all").on("change", function(){
            var check_box = $(this).closest("td").find(".checkbox").not(this);
            if ($(this).prop("checked")){
                $(check_box).each(function(){
                    $(this).prop("checked", true);
                })
            } else {
                $(check_box).each(function(){
                    $(this).prop("checked", false);
                })
            }
        })

        // Check `check-all` checkbox if all permission are given
        refresh_checkbox()

        // Toggle `check-all` checkbox if all checkbox are checked or unchecked
        $("tr .checkbox").on("change", function(){
            refresh_checkbox()
        })
    })
</script>
{% endblock script %}